/* Play with speed and easing of the animation */
/* =========================================== */

@import url(http://fonts.googleapis.com/css?family=Aldrich);

.digit {
  display: inline-block;
  font-size: 50px; /**/
  /*color: rgba(0, 0, 0, 0.25);*/
  color: rgba(255,255,255,1);
  height: 50px; /**/
  line-height: 1;
}

.time-part-wrapper {
  display: inline-block;
  margin-left:25px;
  margin-right: 25px;
  position: relative;
}
.time-part-wrapper:after {
  content: '';
  display: block;
  width: 30px; 
  height: 30px;
  position: absolute;
  top: 5px;
  right: -30px;
  /*color: rgba(0, 0, 0, 0.25);*/
  color: rgba(255,255,255,1);
  font-size: 20px;
  line-height: 0.9;
}
.time-part-wrapper#days:after {
  content: 'D';
}
.time-part-wrapper#hours:after {
  content: 'H';
}
.time-part-wrapper#minutes:after {
  content: 'M';
}
.time-part-wrapper#seconds:after {
  content: 'S';
}
.time-part-wrapper#hundreths:after {
  content: ':P';
}


@media all and (max-width: 768px) {
 .time-part-wrapper#hundreths:after {
  content: none;
} 
}


.time-part {
  width: 40px; /**/
  text-align: center;
  height: 40px; /**/
  overflow: hidden;
  display: inline-block;
  margin-left: -5px;
  box-sizing: border-box;
}
.time-part .digit-wrapper {
  animation-timing-function: cubic-bezier(1, 0, 1, 0);
}
.time-part.days.tens .digit-wrapper {
  animation-name: days-tens;
  animation-duration: 8640000s;
  animation-iteration-count: 1;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.time-part.days.ones .digit-wrapper {
  animation-name: days-ones;
  animation-duration: 864000s;
  animation-iteration-count: 10;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.time-part.hours.tens .digit-wrapper {
  animation-name: hours-tens;
  animation-duration: 86400s;
  animation-iteration-count: 100;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.time-part.hours.ones .digit-wrapper {
  animation-name: hours-ones;
  animation-duration: 86400s;
  animation-iteration-count: 100;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.time-part.minutes.tens .digit-wrapper {
  animation-name: minutes-tens;
  animation-duration: 3600s;
  animation-iteration-count: 2400;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.time-part.minutes.ones .digit-wrapper {
  animation-name: minutes-ones;
  animation-duration: 600s;
  animation-iteration-count: 14400;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.time-part.seconds.tens .digit-wrapper {
  animation-name: seconds-tens;
  animation-duration: 60s;
  animation-iteration-count: 144000;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.time-part.seconds.ones .digit-wrapper {
  animation-name: seconds-ones;
  animation-duration: 10s;
  animation-iteration-count: 864000;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.time-part.hundredths.tens .digit-wrapper {
  animation-name: hundredths-tens;
  animation-duration: 1s;
  animation-iteration-count: 8640000;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.time-part.hundredths.ones .digit-wrapper {
  animation-name: hundredths-ones;
  animation-duration: 0.1s;
  animation-iteration-count: 86400000;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes days-tens {
  0% {
    transform: translateY(-50px);
  }
  10% {
    transform: translateY(-100px);
  }
  20% {
    transform: translateY(-150px);
  }
  30% {
    transform: translateY(-200px);
  }
  40% {
    transform: translateY(-250px);
  }
  50% {
    transform: translateY(-300px);
  }
  60% {
    transform: translateY(-350px);
  }
  70% {
    transform: translateY(-400px);
  }
  80% {
    transform: translateY(-450px);
  }
  90% {
    transform: translateY(-500px);
  }
}
@keyframes days-ones {
  0% {
    transform: translateY(-50px);
  }
  10% {
    transform: translateY(-100px);
  }
  20% {
    transform: translateY(-150px);
  }
  30% {
    transform: translateY(-200px);
  }
  40% {
    transform: translateY(-250px);
  }
  50% {
    transform: translateY(-300px);
  }
  60% {
    transform: translateY(-350px);
  }
  70% {
    transform: translateY(-400px);
  }
  80% {
    transform: translateY(-450px);
  }
  90% {
    transform: translateY(-500px);
  }
}
@keyframes hours-tens {
  0% {
    transform: translateY(-50px);
  }
  16.66667% {
    transform: translateY(-100px);
  }
  58.33333% {
    transform: translateY(-150px);
  }
}
@keyframes hours-ones {
  0% {
    transform: translateY(-50px);
  }
  4.16667% {
    transform: translateY(-100px);
  }
  8.33333% {
    transform: translateY(-150px);
  }
  12.5% {
    transform: translateY(-200px);
  }
  16.66667% {
    transform: translateY(-250px);
  }
  20.83333% {
    transform: translateY(-300px);
  }
  25.0% {
    transform: translateY(-350px);
  }
  29.16667% {
    transform: translateY(-400px);
  }
  33.33333% {
    transform: translateY(-450px);
  }
  37.5% {
    transform: translateY(-500px);
  }
  41.66667% {
    transform: translateY(-550px);
  }
  45.83333% {
    transform: translateY(-600px);
  }
  50.0% {
    transform: translateY(-650px);
  }
  54.16667% {
    transform: translateY(-700px);
  }
  58.33333% {
    transform: translateY(-750px);
  }
  62.5% {
    transform: translateY(-800px);
  }
  66.66667% {
    transform: translateY(-850px);
  }
  70.83333% {
    transform: translateY(-900px);
  }
  75% {
    transform: translateY(-950px);
  }
  79.16667% {
    transform: translateY(-1000px);
  }
  83.33333% {
    transform: translateY(-1050px);
  }
  87.5% {
    transform: translateY(-1100px);
  }
  91.66667% {
    transform: translateY(-1150px);
  }
  95.83333% {
    transform: translateY(-1200px);
  }
}
@keyframes minutes-tens {
  0% {
    transform: translateY(-50px);
  }
  16.66667% {
    transform: translateY(-100px);
  }
  33.33333% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(-200px);
  }
  66.66667% {
    transform: translateY(-250px);
  }
  83.33333% {
    transform: translateY(-300px);
  }
}
@keyframes minutes-ones {
  0% {
    transform: translateY(-50px);
  }
  10% {
    transform: translateY(-100px);
  }
  20% {
    transform: translateY(-150px);
  }
  30% {
    transform: translateY(-200px);
  }
  40% {
    transform: translateY(-250px);
  }
  50% {
    transform: translateY(-300px);
  }
  60% {
    transform: translateY(-350px);
  }
  70% {
    transform: translateY(-400px);
  }
  80% {
    transform: translateY(-450px);
  }
  90% {
    transform: translateY(-500px);
  }
}
@keyframes seconds-tens {
  0% {
    transform: translateY(-50px);
  }
  16.66667% {
    transform: translateY(-100px);
  }
  33.33333% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(-200px);
  }
  66.66667% {
    transform: translateY(-250px);
  }
  83.33333% {
    transform: translateY(-300px);
  }
}
@keyframes seconds-ones {
  0% {
    transform: translateY(-50px);
  }
  10% {
    transform: translateY(-100px);
  }
  20% {
    transform: translateY(-150px);
  }
  30% {
    transform: translateY(-200px);
  }
  40% {
    transform: translateY(-250px);
  }
  50% {
    transform: translateY(-300px);
  }
  60% {
    transform: translateY(-350px);
  }
  70% {
    transform: translateY(-400px);
  }
  80% {
    transform: translateY(-450px);
  }
  90% {
    transform: translateY(-500px);
  }
}
@keyframes hundredths-tens {
  0% {
    transform: translateY(-50px);
  }
  10% {
    transform: translateY(-100px);
  }
  20% {
    transform: translateY(-150px);
  }
  30% {
    transform: translateY(-200px);
  }
  40% {
    transform: translateY(-250px);
  }
  50% {
    transform: translateY(-300px);
  }
  60% {
    transform: translateY(-350px);
  }
  70% {
    transform: translateY(-400px);
  }
  80% {
    transform: translateY(-450px);
  }
  90% {
    transform: translateY(-500px);
  }
}
@keyframes hundredths-ones {
  0% {
    transform: translateY(-50px);
  }
  10% {
    transform: translateY(-100px);
  }
  20% {
    transform: translateY(-150px);
  }
  30% {
    transform: translateY(-200px);
  }
  40% {
    transform: translateY(-250px);
  }
  50% {
    transform: translateY(-300px);
  }
  60% {
    transform: translateY(-350px);
  }
  70% {
    transform: translateY(-400px);
  }
  80% {
    transform: translateY(-450px);
  }
  90% {
    transform: translateY(-500px);
  }
}
body {
  /*background: #F1614B;*/
  /*background-color: #fff;*/
  background-color: #008100;
  margin: 0;
  font-family: "Aldrich";
}

.wrapper {
  /*margin: 100px auto;
  width: 1000px;
  position: relative;*/
}

/*.wrapper:before, .wrapper:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  height: 20px;
  z-index: 10;
  }*/

/*.wrapper:before {
  top: 0px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxNjE0YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxNjE0YiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1614b), color-stop(100%, rgba(241, 97, 75, 0)));
  background-image: -moz-linear-gradient(top, #f1614b 0%, rgba(241, 97, 75, 0) 100%);
  background-image: -webkit-linear-gradient(top, #f1614b 0%, rgba(241, 97, 75, 0) 100%);
  background-image: linear-gradient(to bottom, #f1614b 0%, rgba(241, 97, 75, 0) 100%);
}
.wrapper:after {
  bottom: 0px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxNjE0YiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMTYxNGIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(241, 97, 75, 0)), color-stop(100%, #f1614b));
  background-image: -moz-linear-gradient(top, rgba(241, 97, 75, 0) 0%, #f1614b 100%);
  background-image: -webkit-linear-gradient(top, rgba(241, 97, 75, 0) 0%, #f1614b 100%);
  background-image: linear-gradient(to bottom, rgba(241, 97, 75, 0) 0%, #f1614b 100%);
  }*/

  #event-title
  {
    color:#000;
    font-size: 50px;
    font-family: 'Aldrich';
  }

  #sign-in-IE, #sign-in
  {
    color:#000;
    text-align: center;
    margin-top:50px;
    font-size:25px;
    font-family: 'Aldrich'; 
  }

  body {
    background-color: red;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 25s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 25s;
    animation-iteration-count: infinite;
  }


  /* Chrome, Safari, Opera */
  @-webkit-keyframes example {
  0%   {background-color:#008d4c; /*Green*/  } 
25%  {background-color:#555299; /*Purple*/  }
50%  {background-color:#D73925; /*Red*/  }
75%  {background-color:#367FA9; /*Blue*/  }
100% {background-color:#008d4c; /*Green*/  }
}

/* Standard syntax */
@keyframes example {
0%   {background-color:#008d4c; /*Green*/  } 
25%  {background-color:#555299; /*Purple*/  }
50%  {background-color:#D73925; /*Red*/  }
75%  {background-color:#367FA9; /*Blue*/  }
100% {background-color:#008d4c; /*Green*/  }
}
